@font-face {
	font-family: Inter;
	src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

$primary: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$black-100: hsl(0, 0%, 8%);
$black-200: hsl(0, 0%, 12%);
$black-300: hsl(0, 0%, 20%);
